<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<link rel='stylesheet' href='cjFile/css/bootstrap.min.css'>
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab|Staatliches|Ubuntu&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="homepage.css">
	<script type="text/javascript" src="angular.min.js"></script>
</head>
<body>
	<header>
		<div class="main-head">
			<div class="head-content">
				<h2><a href="homepage.html"><b>Billion Bazaar</b></a></h2>
			</div>
			<div class="categories">
				<div class="middle">
					<a class="btn1" href="https://www.facebook.com/profile.php?id=100038016395032"><i class="fab fa-facebook-f"></i></a>
					<a class="btn1" href="#"><i class="fab fa-twitter"></i></a>
					<a class="btn1" href="#"><i class="fab fa-google"></i></a>
					<a class="btn1" href="#"><i class="fab fa-instagram"></i></a>
				</div>
				<div class="navigation">
					<ul>
						<li><a href="newlogin.html" style="color: black; text-decoration: none;">Login/Register</a></li>
						<li><a href="bill.html" style="color: black; text-decoration: none;">Cart<span class="logo1">&#128722</span></a></li>				
						<li onclick="arrow()">Categories<span id="logo">&#x25BC</span>
							<div id="drop">
								<ul>
									<li><a href="#">Furniture</a></li>
									<li><a href="#">Mobile</a></li>
									<li><a href="#">Motor parts</a></li>
								</ul>
							</div>
						</li>
						
						<!--</div>-->
						
					</ul>
				</div>
				
			</div>

		</div>
		
	</header>
	
	<div class="slider">
		<figure>
			<img src="images/b1.jpg">
			<img src="images/b3.jpg">
		</figure>
	</div>
	
	<div class="search-main" ng-app="App" ng-controller="mycr">

		<div class="search-box">
			<input class="search-txt" id="search-txt" ng-model="fil" type="text" name="search" placeholder="Type to search">
				<a class="search-btn text-danger">
					<i class="fas fa-search"></i>
				</a>
		</div>
		<div class="lst" id="lst" onblur="hideContent()">
				<ul ng-repeat="x in product|filter:fil">
					<li class="border" onclick="window.location.replace('bill.html')">{{ x }}</li>
				</ul>
			</div>

		<div class="head2">
			<div class="container-fluid"><b><h3 class="cat">Accessories</h3></b></div>
		</div>
	</div>
	
	<div class="main-container">
		<div class="line1">
			<div class="card">
				<div class="image1" style="background-image: url(images/camera.jpg);">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h4>Canon camera</h4>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1" style="background-image: url(images/camera3.jpg);">
					<img src="images/camera2.jpg">
				</div>
				<div class="title">
					<h4>Casio camera</h4>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
				
			<div class="card">
				<div class="image1" style="background-image: url(images/camera4.jpg);">
					<img src="images/camera5.jpg">
				</div>
				<div class="title">
					<h4>Epson camera</h4>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1" style="background-image: url(images/camera8.jpg);">
					<img src="images/camera7.jpg">
				</div>
				<div class="title">
					<h4>Nikon best camera</h4>
				</div>
				<center><button class="btn primary-btn butt1" onclick="disable()">Add to cart</button></center>
			</div>
			<!--<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>-->
		</div>
	</div>
		<div class="banner">
			<img src="images/b2.jpg">
		</div>
	<div class="head2">
		<div class="container-fluid"><b><h3 class="cat">Mobiles</h3></b></div>
	</div>
	<div class="main-container">
		<div class="line">
			<div class="card">
				<div class="image1" style="background-image: url(images/p2.jpg);">
					<img src="images/p1.jpg">
				</div>
				<div class="title">
					<h3><b>Huawai P30</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1" style="background-image: url(images/p4.jpg);">
					<img src="images/p3.jpg">
				</div>
				<div class="title">
					<h3><b>Samsung galaxy A9</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
				
			<div class="card">
				<div class="image1" style="background-image: url(images/p5.jpg);">
					<img src="images/p6.jpg">
				</div>
				<div class="title">
					<h3><b>Vivo V10</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1" style="background-image: url(images/p7.jpg);">
					<img src="images/p8.jpg">
				</div>
				<div class="title">
					<h3><b>Nokia 8</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<!--<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>-->
		</div>
	</div>
		<!--<div class="slider">
			<figure>
				<img src="b3.jpg">
				<img src="b2.jpg">
			</figure>
		</div>-->


		<!--<div class="line">
			<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
				
			<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
		</div>
	</div>-->
	<div class="head2">
		<div class="container-fluid"><b><h3 class="cat">Furniture</h3></b></div>
	</div>
	
	<div class="main-container">
		<div class="line">
			<div class="card">
				<div class="image1" style="background-image: url(images/c2.jpg);">
					<img src="images/c1.jpg">
				</div>
				<div class="title">
					<h3><b>Standard Set Bed</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1" style="background-image: url(images/d2.jpg);">
					<img src="images/d1.jpg">
				</div>
				<div class="title">
					<h3><b>Standard Dinning Set</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
				
			<div class="card">
				<div class="image1" style="background-image: url(images/bed2.jpg);">
					<img src="images/bed1.jpg">
				</div>
				<div class="title">
					<h3><b>Wide Matresses Bed</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<div class="card">
				<div class="image1" style="background-image: url(images/f2.jpg);">
					<img src="images/f1.jpg">
				</div>
				<div class="title">
					<h3><b>Special Soft Chair</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>
			<!--<div class="card">
				<div class="image1">
					<img src="images/camera1.jpg">
				</div>
				<div class="title">
					<h3><b>Canon best camera</b></h3>
				</div>
				<center><button class="btn primary-btn butt1">Add to cart</button></center>
			</div>-->
		</div>
	</div>

	<footer>
		<div class="div18">
		    <div class="div19">
		        <h3>ABOUT</h3>
		        <p>Contact Us<br>
		        About Us<br>
		        B Bazaar Stories<br>
		        Press</p>
		    </div>
		    <div class="div19">
		        <h3>HELP</h3>
		        <p>Payments<br>
		        Shipping<br>
		        Returns<br>
		        FAQ<br>
		        Report Issue</p>
		    </div>

		    <div class="div19">
		        <h3>Return Policy</h3>
		        <p>Terms Of Use<br>
		        Security<br>
		        Privacy<br>
		        Sitemap<br>
		        EPR Compliance</p>
		    </div>

			<div class="div20">
		        <h3>Mail Us:</h3>

				<p>B Bazaar Pvt Ltd<br>

				LPU Block 51<br>

				Law Gate<br>

				K Appartments<br>

				Jalandhar 114441<br>

				Punnjab India</p>
		    </div>

		    <div class="div21">
			    <h3>Reg Address:</h3>

				<p>B Bazzar Pvt Ltd<br>

				Luxemberg<br>

				Clove Tech Village<br>

				Outer Ring Road<br>

				Bengaluru 560103<br>

				Karnataka India<br>

				Telephone: 8434090048</p>

		    </div>

		</div>
		<div class="copy-right text-white border-top">
			<center><span>Internet Based Ads</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-muted">&copy; 2018-2019, Billion Bazaar, Inc. or its affiliates</span></center>
		</div>
	</footer>
	<script src="jquery-3.4.1.js"></script>
	<script>
		$(document).ready(function(){
			//alert("hello");
			$("button").click(function(){
				$(this).attr("disabled","true");
				$(this).css({"background-color":"#2b2c2d", "color": "white", "opacity":0.4});
			});
			$("#search-txt").focus(function(){
				$("#lst").show();
			})
			$("#lst").hover(function(){
				$("#search-txt").show();
				$(".search-btn").show();
			})
			$("#lst").on({
				mouseleave: function(){
					$(this).hide();
					$(".search-txt").hide();
				}
			})
			$(".search-btn").on({
				mouseenter: function(){
					$(".search-txt").show();
					$("#lst").show();
				}
			})
		})
	</script>

	<script>
		function arrow(){
			document.getElementById('logo').innerHTML= "&#x25B2";
			var v=document.getElementById("drop")
			if(v.style.display=="block"){
				v.style.display="none";
				document.getElementById('logo').innerHTML= "&#x25BC";
			}
			else{
				v.style.display="block";
				document.getElementById('logo').innerHTML= "&#x25B2";
			}
	    }

	   /* function hideContent(){
	    	document.getElementById('lst').style.display=none;
	    }*/
	</script>

	<script>
		var App = angular.module("App",[]);
		App.controller("mycr",['$scope',function(s){
			s.fil;
			s.product = ["Canon E345","Sony M377","PanaSonic E1","Nikon 2AR","Puma T-shirt",
			"Iphone 6","Iphone 7","Iphone X","Galaxy S7", "Standard Dinning Set", "Wide Matresses Bed"];
		}]);
	</script>
	
</body>
</html>

