*{
	margin: 0px;
	padding: 0px;
}

.main-head{
	background-color: #553933;
	height: 155px;	
	display:flex;
	
}

.head-content{
	width: 75%;
}


.head-content h2::first-letter{
	font-size: 160px;
}

.categories{
	display:flex;
  	flex-wrap: wrap;
  	align-content: end;
}

.navigation{
	
}

.head-list{
	
	list-style-type: none;

}

.list-itm{
	margin: 10px;
	display: inline-block;
	font-size: 20px;
	color: white;
}

.list-itm a{
	color: white;
	text-decoration: none;
}

.list-itm a:hover{
	box-shadow: 0px 0px 2px black;
	text-decoration: underline;
}

#logo{
	font-size: 16px;
}

.logo1 span{
	font-size: 48px;
}

.search-main{
	width: 100%;
	height: 70px;
	margin-bottom: ;
}

.search-box{
	float: right;
	display: flex;
	background: #2f3640;
	border-radius: 40px;
	padding: 10px;
	margin: 10px;
}

.search-txt{
	display: none;
	outline: none;
	border: none;
	background: none;
	padding: 5px;
	color: white;
	font-size: 16px;
}

.search-btn{
	color: #e84118;
	width: 40px;
	height: 40px;
	display: flex;
	border-radius: 50%;
	align-content: center;
	transform: translate(30%,30%);
}

.search-box:hover .search-txt{
	display: block;
	width: 300px;

}


.main-container{
	
}

.card{
  	width: 18%;
  	background-color:  #d0d3d4;
  	border-radius: 5px;
  	box-shadow: 2px 2px 10px black;
  	margin: 20px;
  	margin-top: 30px;
  }

.line{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	/*border: 2px solid blue;*/
}

.card::before{
	content: "";
	display: block;
	position: absolute;
	left: 0%;
	top: 33.5%;
	display: block;
	transform: translateX(10.5%);
	line-height: 40px;
	border-bottom: 2px solid  #909497;
	width: 100%;
	z-index: 1;
  }

 .image1 img{
	width: 100%;
	border-radius: 5px;
	opacity: 0.9;
}

.title{
	text-align: center;
	line-height: 50px;
}

.butt1{
	font-size: 14px;
	font-family: ;
	color: black;
	border: none;
	outline: none;
  	border-radius: 5px;
	height: 30px;
	width: 80%;
	background-color: white;
	margin-bottom: 4px;
}

.butt1:hover{
	background-color: black;
	color: white;
}
