*{
	margin: 0;
	padding-bottom: 0;
}

body{
	/*background: linear-gradient(to right,#aed6f1, #af7ac5 );  */
}

.main-container{
	min-width: 90%;
	width: 100%;
	margin: 0 auto;
}

header{
	margin: 0;
	padding: 0;	
}

.main-head{
	width: 100%;
	height: 155px;
	margin: 0;
	padding: 0;	
	display: flex;
	flex-wrap: nowrap;
		background: linear-gradient(to right, #FF416C, #FF4B2B);
}

.head-content{
	margin: 0;
	padding: 0;
	width: 85%;
	color: #fff;
	font-family: monospace, serif;
}

.head-content h2{
	text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.head-content h2::first-letter{
	font-size: 155px;
	margin: auto;
	
}

/*.navigation{
	width:100%;
}*/

.middle{
	height: auto;
	width: 15%;
	text-align: right;
}

.middle a{
	font-size: 20px;
	background-color: #fff;
}

.btn1{
	/*display: inline-block;
	box-shadow: 0px 5px 15px -5px #00000070;
	overflow: hidden;*/
}

.btn1 i{
	margin: 0 10px;
	font-size: 20px;
	transition: 0.2s linear;
}

.btn1:hover i{

	transform: scale(1.3);
}

.head-text{
	width: 100%;
	height: 450px;
	background-image: url("images/head1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	/*opacity: 0.8;*/
}

.text{
	width: 100%;
	height: 88%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	/*margin: auto 0;*/
}

.btn2{
	width: 220px;
	height: 50px;
	margin: 10px;
	background: none;
	font-weight: bold;
}

.btn2:hover{
	background-color: black;
	color: #fff;
}

.heading{
	font-family: 'Ubuntu', sans-serif;
}

.divs{
	height: auto;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 15px;
}

.head-content a{
	text-decoration: none;
	color: #fff;
}

.div1, .div2, .div3{
	height: 500px;
	width: 28%;
	border: 1px solid #d0d3d4;
	margin: 35px;
	justify-content: justify;
	box-shadow: 5px -5px 10px   #d0d3d4;
	font-family: 'Staatliches', cursive;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.div1 img, .div2 img, .div3 img{
	height: 350px;
	width: 100%;
}

footer{
	background: linear-gradient(to right, #FF416C, #FF4B2B);
	padding: 10px;
}

